.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 37px 96px;
  width: 100%;
  background-color:lightblue;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
    background-image: url(../images/cover.jpg);
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 50px 50px 50px;
}
.content-section {
  width: 100%;
  margin: 0 auto;
}
.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size:100px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 30px;
}
.aligned-text{

}
